// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}


// Start of code


// variables

@dark-gray: #4f4f4f;
@medium-gray: #adadad;
@light-gray: #c4c4c4;


html, body {
	height: 100%;
	font-size: 62.5%;
  }

 body {
	width: 880px;
	margin: 0 auto;
  }

nav {
	display: flex;
	justify-content: flex-end;

	a {
		margin-left: 42px;
		margin-top: 30px;
		font-size: 1.8rem;
		font-family: helvetica, arial;
		text-decoration: none;
		color: @dark-gray;

		&:hover {
		color: @light-gray;
		}
	}
} //end of nav

header {
	width: 100%;
	height: 24%;
	margin: 3% 0;
	background: #f0f0f0;
}

.name-bio {
	padding: 5% 5% 2% 5%;
	line-height: 2.5rem;
	font-family: helvetica, arial;

	h1 {
		font-size: 3.5rem;
		color: @medium-gray;

		a {
			text-decoration: none;
			color: @medium-gray;

		&:hover {
			text-decoration: underline;
			color: lightblue;
			cursor: pointer;
		}
	  	}
	}

	h2 {
		font-size: 1.5rem;
	}
} //end of .name-bio

.contact {
	padding: 0 5%;
	line-height: 2.5rem;
	font-family: helvetica, arial;

	a {
		font-size: 1.8rem;
		text-decoration: none;
		color: @light-gray;
		margin-right: 5%;

		&:hover {
			color: lightblue;
		}
	}
} //end of .contact

.middle-content {
	background: #f0f0f0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 250px;
}

.summary {
	padding: 5%;
	line-height: 2rem;
	font-family: helvetica, arial;
	width: 49.5%;
	height: 250px;
	border: 1px solid red;
	background: #f8f8f8;
	
	h1 {
		font-size: 2.6rem;
		color: @medium-gray;
		margin-bottom: 10%;
	}

	p {
		font-size: 1.5rem;
	}
} //end of .overview

.skills {
	padding: 5%;
	width: 49.5%;
	line-height: 2rem;
	font-family: helvetica, arial;
	border: 1px solid  red; 
	height: 350px;
	background: #f8f8f8;

	h1 {
		font-size: 2.6rem;
		color: @medium-gray;
		margin-bottom: 10%;
	}

	p {
		display: inline-block;
		text-align: center;
		height: 30px;
		border: 1px solid red;
		border-radius: 20px;
		font-size: 1.5rem;
		padding: 1.2% 5%;
		margin: 0 10px 3% 0;
		
	}
} //end of .skills
